# 1. PyTorch CPU (لازم يبقى في الأول)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchaudio==2.1.0+cpu

# 2. TTS (المكتبة الأساسية)
TTS==0.22.0

# 3. Numpy
# بنثبته على النسخة دي عشان هي أكتر نسخة مستقرة مع Python 3.10 ومكتبات الصوت
numpy==1.22
#changes

transformers==4.33.0
tokenizers==0.13.3

# 4. Utilities (أدوات مساعدة للنصوص والملفات)
inflect==7.0.0
unidecode==1.3.7
anyascii==0.3.2
huggingface-hub
packaging
filelock
fsspec




